//#region Primary
$blue: hsl(238, 40%, 52%);
$red: hsl(358, 79%, 66%);

$light_blue: hsl(239, 57%, 85%);
$light_red: hsl(357, 100%, 86%);
//#endregion

//#region Neutral
$dark: hsl(212, 24%, 26%);
$white: hsl(0, 0%, 100%);

$gray: hsl(211, 10%, 45%);
$gray_400: hsl(223, 19%, 93%);
$gray_100: hsl(228, 33%, 97%);
//#endregion

//#region Typography
$size: 16px;

$family: "Rubik";
//#endregion

//#region
$radius: 5px;
//#endregion

//#region Sizes
$mobile: 375px;
$tablet: 900px;
$desktop: 1440px;
//#endregion
