#app > section {
  background-color: $gray_100;
}

.d-flex {
  display: flex;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: $radius;
}

.link {
  background-color: transparent;
  color: $blue;

  transition: ease-in 0.15s;
  &:hover {
    background-color: $gray_400;
  }

  &:active {
    background-color: transparent;
  }
}

.fill {
  background-color: $blue;
  color: $gray_100;

  transition: ease-in 0.15s;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: $light_blue;
  }
}

textarea {
  box-sizing: border-box;
  resize: none;
  border: 2px solid $gray_400;
  border-radius: $radius;
  padding: 5px;
  font-family: $family;
  font-size: $size;
  width: 100%;

  &:focus {
    outline: 3px solid $light_blue;
  }
}

.w-100 {
  width: 100%;
}
